[Unit]
Description=Process Exporter
Wants=network-online.target
After=network-online.target

[Service]
User={{ process_exporter_user }}
Group={{ process_exporter_group }}
Type=simple
ExecStart={{ process_exporter_install_path }}/process-exporter -config.path {{ process_exporter_config_file }}

[Install]
WantedBy=multi-user.target
